---
import { getCollection, render } from 'astro:content';
import { dateFromFilename } from '../../utils.ts';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('creativeWriting');
	return posts.map(post => {
		const slug = post.id.replace(/\.[^/.]+$/, "")
		const date = dateFromFilename(post.id);


		return {
			params: { slug: slug },
			props: { post, slug, date },
		}
	})
};

const { post, date } = Astro.props;
const { Content } = await render(post);
---
<Layout title={post.data.title}>
	<h1>{post.data.title}</h1>
	<div class="date">{date}</div>
	<Content />
</Layout>
<style>
	.date {
		font-style: italic
	}
</style>
