---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro'
import Card from '../../components/Card.astro';
import { formattedDateFromFilename, slugFromFilename, sortContentByDateFromFilename } from '../../utils.ts';

const posts = sortContentByDateFromFilename(
	await getCollection('creativeWriting')
);

---
<Layout title="Creative Writing">
	<h1>Creative Writing</h1>
	{ posts.reverse().map( post => <div><Card
		date={formattedDateFromFilename(post.id)}
		href={slugFromFilename(post.id)}
		title={post.data.title}
		body={post.data.preamble}
		icon=""
		/></div>
	)}
	<footer></footer>
</Layout>
<style>
	div {
		margin: 8px;
	}
	footer {
		height: 100px;
	}
</style>
