<div class="d-flex flex-xs-row flex-lg-row flex-sm-column 
flex-md-column align-items-center justify-content-center bd-highlight flex-grow-0 fa-2x">
{% if site.data.me.social.linkedin %}
<a href='https://linkedin.com/in/{{ site.data.me.social.linkedin }}'><i class="fab fa-linkedin  social"></i></a>
{% endif %}

{% if site.data.me.social.github %}
<a href='https://github.com/{{ site.data.me.social.github }}'><i class="fab fa-github social"></i></a>
{% endif %}

{% if site.data.me.social.medium %}
<a href='https://medium.com/@{{ site.data.me.social.medium }}'><i class="fab fa-medium social"></i></a>
{% endif %}

{% if site.data.me.social.kaggle %}
<!-- Inlcuding the asset directly here because for some reason it didnt like being called directly from the library -->
<a href='https://kaggle.com/{{ site.data.me.social.kaggle }}'>{% include kaggle-brands.svg %}</a>
{% endif %}

</div>
