@import "bootstrap/bootstrap";

.tag {
    color: $primary;
    border: 1px solid $primary;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 6px;
    margin-top: 1px;
}

.tag-container {
    // margin-bottom: 20px;
    
}

.social {
    margin: 10px 15px 10px 15px;
}

.h-scroll {
    height:75vh; /* %-height of the viewport */
    // width:60vw;
    // position: fixed;
    overflow-y: auto;
    // overflow: hidden;
}

.card-date{
    color: $secondary;
    font-weight: 500;
}

.card-date-platform-separator{
    color: $secondary;
    margin-left: 7px;
    margin-right: 7px
}

.card-platform {
    color: $secondary;
    font-weight: 500;
}
