---
import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main.astro';
import Card from '../components/Card.astro';

const projects = Object.values(await import.meta.glob('../content/projects/*.md', { eager: true })).reverse();
---
<Layout title='Projects & Things'>
	<h1>Projects & Things</h1>
	{projects.map( project => <div><Card class="card" icon={project.frontmatter.icon} title={project.frontmatter.title} body={project.rawContent()}/></div>)}
</Layout>
<style>
	div {
		margin: 5px;
	}
</style>
