---
import IconGitHub from './IconGitHub.astro';
import IconMedium from './IconMedium.astro';
import IconLinkedIn from './IconLinkedIn.astro';
---
<div id="socials">
	<a href='https://github.com/sheeshee'><IconGitHub/></a>
	<a href='https://linkedin.com/in/samuel-sheehy'><IconLinkedIn/></a>
	<a href='https://medium.com/@samsheehy'><IconMedium/></a>
</div>
<style>
	div {
		margin: 0 auto 10px;
		width: fit-content;
	}
	a {
		display: inline-block;
		color: #000042;
		transition: 0.1s;
	}
	a:hover {
		transform: scale(1.1);
	}

</style>
	
