---
layout: master
---

<div class="row top-of-page">
  <div class="col-sm-4"></div>
  <div class="col-sm-8">
    <h1>{{ page.heading }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 justify-content-center text-center">
    <img src="assets/me.jpg" class="img-fluid" alt="this is what i look like">
    <h1 class="text-primary m-2"> {{ site.data.me.name }}</h1>
    <p class="m-2">{{ site.data.me.location }}</p>
    <div class="">
      {% include social.html %}
  </div>
  </div>

  <div class="col-sm-8">
    <div class="row ">
      <div class="h-scroll">
        {{ content }}
      </div>
    </div>
  </div>
</div>




